@import url(https://fonts.cdnfonts.com/css/circular-std);

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Circular Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

}

.opacity-50 {
  opacity: 0.5;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: block;
  margin-left:5rem;
}

span {
  display: inline-block;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}